{% extends "_templates/base.njk" %}

{% block main %}

<h1 class='page-header'>Applicant</h1>
{% if user %}
    <div id="ghapidata"></div>
{% else %}
    <div id="ghapidata"></div>
{% endif %}
{% endblock %}
