{% extends "_templates/base.njk" %}

{% block main %}

<h1 class='page-header'>{{ title }}</h1>
{% if user %}
    <div id="dashboard"></div>
{% endif %}

{% if applicants %}
{% for user in applicants %}
<ul>
  <li><a href="/dashboard/{{ user.id }}">{{user.profile.first_name}} {{user.profile.last_name}}</a></li>
</ul>	
{% endfor %}
{% endif %}

{% endblock %}
