{% extends "_templates/base.njk" %}

{% block main %}

<h1 class='page-header'>Home Page</h1>
{% if user.role == 'applicant' %}
    <div id="loggedInIndexPage"></div>

{% else %}
    Here is where stuff goes on the index page if there is no user logged in
{% endif %}
{% endblock %}
