<ol class="breadcrumb mt-3">

  {% for bread in breadcrumbs %}
  <li class="breadcrumb-item">
    {% if not loop.last %}<a href="{{bread.url}}">{% endif %}
      {{bread.name}}
    {% if not loop.last %}</a>{% endif %}
  </li>
  {% endfor %}

</ol>



